@import "../../../0_Tokens/Boiler.css";

.caption {
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 600;
}
.footnote {
  font-size: 0.75rem;
  line-height: 1rem;
}
.base {
  font-size: 1.5rem;
  line-height: 1.75rem;
  font-weight: 500;
}
