@import "../../../0_Tokens/BoilerSizing.css";

.text-xs {
  font-size: var(--size-3);
  line-height: var(--size-4);
}

/*this is p*/

.text-sm {
  font-size: var(--size-3-5);
  line-height: var(--size-5);
}

/*this is p*/

.text-base {
  font-size: var(--size-4);
  line-height: var(--size-6);
}
