@import "../../../0_Tokens/BoilerSizing.css";

.text-5xl {
  font-size: var(--size-12);
  line-height: 1;
}

.text-6xl {
  font-size: calc(var(--size-14)+var(--size-0-5));
  line-height: 1;
}

.text-7xl {
  font-size: calc(var(--size-16)+var(--size-2));
  line-height: 1;
}

.text-8xl {
  font-size: var(--size-24);
  line-height: 1;
}

.text-9xl {
  font-size: var(--size-32);
  line-height: 1;
  font-weight: ;
}
